/* CSS Formulário Fale Conosco */
section.formulario {
    padding: 120px 4%;
}

#formulario-texto{
    display: flex;
    justify-content: center;
}

form {
    max-width: 500px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: rgba(58, 57, 57, 0.151);
    border: none;
    outline: none;
    padding: 20px 15px;
    border-radius: 15px;
    color: white;
    font-size: 18px;
    transition: .9s;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form input::placeholder {
    color: grey;
}

form input:focus-within,
textarea:focus-within {
    border: 1px solid var(--cor-verde);
    transform: scale(1.02);
}

form .btn-enviar {
    margin-top: 25px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: var(--cor-azul);
    color: var(--cor-clara);
    cursor: pointer;
    font-weight: 700;
    transition: .2s;
}

form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px var(--cor-azul);
    transform: scale(1.10);
}