/* 1px = 16rem */

.sobrem{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sobrem-conteudo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sobrem-titulo{
    font-size: var(--tamanho-2xl);
    color: var(--cor-clara);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sobrem-paragrafo{
    max-width: 65ch;
    font-size: var(--tamanho-sm);
    color: var(--cor-clara);
}

.sobrem-separador{
    border-color: var(--cor-cinzacuro);
}
.sobrem-img-bk{
    display: flex;

}

.sobrem-img{
    border-radius: 55%;
    height: 25rem;
    width: 25rem;
    position: relative;
    right: 5rem;
}
.caixade{
    position: absolute;
    border-color: red;
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    background-color: var(--cor-verde);
}

button:hover, form .btn-enviar input:hover {
/*     box-shadow: -5px -6px 16px rgba(8, 145, 178, .5),
    0 6px 6px rgba(8, 145, 178, .5),
    0 0 100px -10px var(--cor-azul); */
    transform: scale(1.35);
}

.btn-social button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background-color: var(--cor-verde);
    font-size: 17px;
    cursor: pointer;
    margin: 0 3px;
    
    transition: .2s;
}

.btn-social{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-social a{
    margin-left: 1rem;
}



/* xs */
@media (min-width:475px) {
    .sobrem{
        gap: 1.5rem;
    }
    
    .sobrem-conteudo{
        gap: 1.5rem;
    }
    
    .sobrem-titulo{
        font-size: var(--tamanho-3xl);
    }
    
    .sobrem-paragrafo{

        font-size: var(--tamanho-base);

    }
    .sobrem-img-bk{
        margin: 0 auto;
        padding-left: 4rem;
    }
}

/* sm */
@media (min-width:640px) {
    .sobrem-img-bk{
        margin: 0 auto;

    }
}

/* md */
/* @media (min-width:768px) {

}
 */
/* lg */
@media (min-width:1024px) {
    .sobrem{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .sobrem-titulo{
        font-size: var(--tamanho-4xl);
    }
    
    .sobrem-paragrafo{

        font-size: var(--tamanho-lg);

    }
}

/* xl */
@media (min-width:1280px) {
    .sobrem-conteudo{
        gap: 2rem;
    }

    .sobrem-titulo{
        font-size: var(--tamanho-5xl);
    }
    
    .sobrem-paragrafo{

        font-size: var(--tamanho-xl);

    }

}

/* 2xl */
/* @media (min-width:1536px) {

} */














