.quadro{
    padding-top: 30rem;
    /*     background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    margin-top: 1rem;
    }


.tupi{
    text-align: center;
}
/* .tupi-imagem{
    width: 11rem;
    height: 11rem;
    margin-left: 5rem;
    margin-top: 15rem;
} */
.apolo{
    text-decoration: none;
    transition: color .3s;
    color: var(--cor-verde);
}
.apolo:hover{
    text-decoration: none;
    color: var(--cor-verde);
}

.tupi-titulo{
    color: var(--cor-clara);
    font-size: var(--tamanho-4xl);
    letter-spacing: -.03em;
    line-height: .2;

    animation: fadein 2s;
}

.tupi-paragrafo{
    max-width: 59ch;
    font-size: var(--tamanho-sm);
    color: var(--cor-clara);
    animation: fadein2 2s;
}

.tupi-botao{
    text-transform: capitalize;
    font-size: var(--tamanho-sm);

    animation: fadein2 4s;
}
.apolo{
    animation: fadein3 3s;

}

@keyframes fadein2{
    0% { opacity: 0; }
    25%{opacity: 0;}
    50%{ opacity:0;}
    55%{opacity: 0;}
    100%   { opacity: 1; }
}

@keyframes fadein3{
    0% { opacity: 0; }
    25%{opacity: 0;}
    50%{ opacity:0;}
    90%{opacity: .9;}
    100%   { opacity: 1; }
}



/* xs */
@media (min-width:475px) {
    .quadro{
        padding-top: 35rem;
        /*     background-color: black; */
        gap: 1.5rem;
        margin-top: 2rem;
        }
    
    
    .tupi{
        gap: 1.5;
    }
    /* .tupi-imagem{
        width: 11rem;
        height: 11rem;
        margin-left: 5rem;
        margin-top: 15rem;
    } */
    .apolo{
        text-decoration: none;
        transition: color .3s;
        color: var(--cor-verde);
    }
    .apolo:hover{
        text-decoration: none;
        color: var(--cor-verde);
    }
    
    .tupi-titulo{
        font-size: var(--tamanho-5xl);
    }
    
    .tupi-paragrafo{
        font-size: var(--tamanho-base);
    }
    
    .tupi-botao{
        font-size: var(--tamanho-base);
    }
    

}

/* sm */
/* @media (min-width:640px) {

}
 */
/* md */
/* @media (min-width:768px) {

}
 */
/* lg */
@media (min-width:1024px) {
    .quadro{
        padding-top: 30rem;
        /*     background-color: black; */
        gap: 1.5rem;
        margin-top: 2rem;
        }
    
    
    /* .tupi-imagem{
        width: 11rem;
        height: 11rem;
        margin-left: 5rem;
        margin-top: 15rem;
    } */
    .apolo{
        text-decoration: none;
        transition: color .3s;
        color: var(--cor-verde);
    }
    .apolo:hover{
        text-decoration: none;
        color: var(--cor-verde);
    }
    
    .tupi-titulo{
        font-size: var(--tamanho-7xl);
    }
    
    .tupi-paragrafo{
        font-size: var(--tamanho-lg);
    }
    
    .tupi-botao{
        font-size: var(--tamanho-lg);
    }
    
}

/* xl */
@media (min-width:1280px) {
    .quadro{
/*         padding-top: 40rem; */
        /*     background-color: black; */
        gap: 1.5rem;
        margin-top: 2rem;
        }
    
    .tupi{
        gap: 2rem;
    }
    
    /* .tupi-imagem{
        width: 11rem;
        height: 11rem;
        margin-left: 5rem;
        margin-top: 15rem;
    } */
    .apolo{
        text-decoration: none;
        transition: color .3s;
        color: var(--cor-verde);
    }
    .apolo:hover{
        text-decoration: none;
        color: var(--cor-verde);
    }
    
    .tupi-titulo{
        font-size: var(--tamanho-9xl);
    }
    
    .tupi-paragrafo{
        font-size: var(--tamanho-xl);
    }
    
    .tupi-botao{
        font-size: var(--tamanho-xl);
    }
    
}

/* 2xl */
/* @media (min-width:1536px) {

} */
