/* INICIO HEADER */

.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: .5rem;

    animation: fadein3 5s ease-in;
}
.header-menu{
    display: none;
}

.header-menu{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 1em;
}

.header-ancora{
    font-size: var(--tamanho-xs);
    text-decoration: none;
    font-weight: 600;
    color: var(--cor-cinzaclaro);
    letter-spacing: -.05em;

    transition: color .3s;
}

.header-ancora:hover{
    color: var(--cor-verde);
}

.separador{
    border: 1px solid var(--cor-clara);
    padding-top: 1.5em;
}

#voltar{
    display: flex;
    justify-content: flex-start;
}

#linha{
    size: .01rem;
    width: 100%;
    animation: fadein3 2s;
}

/* MEDIA QUERY HEADER */
@media (min-width:768px) {
    .header-menu{
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        gap: 1em;
    }
    
    .header-ancora{
        font-size: var(--tamanho-xs);
        text-decoration: none;
        font-weight: 600;
        color: var(--cor-cinzaclaro);
        letter-spacing: -.05em;
    
        transition: color .3s;
    }
    
    .header-ancora:hover{
        color: var(--cor-verde);
    }
    
    .separador{
        border: 1px solid var(--cor-clara);
        padding-top: 1.5em;
    }
    
    #voltar{
        display: flex;
        justify-content: flex-start;
    }
    
    #linha{
        size: .01rem;
        width: 100%;
        animation: fadein 2s;
    }


    @keyframes direitaquerda {
        from{
            transform: translateX(5%);
        }
        
        to{
            transform: translateX();
        }
    }
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    .header-barra{
        display: none;
    }
    
}

@media (min-width:1024px) {
    .header-ancora{
        font-size: var(--tamanho-sm);
    }
    
    #linha{
        size: .01rem;
        width: 100%;

        animation: fadein 2s;
    }
    @keyframes direitaquerda {
        from{
            transform: translateX(10%);
        }
        
        to{
            transform: translateX();
        }
    }
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
}

/* FIM HEADER */


/* INICIO TELA DE BOAS VINDAS*/

.quadro{
    padding-top: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    margin-top: 1rem;
    margin-bottom: 10rem;
    }

.boas{
    text-align: center;
}

.apolo{
    text-decoration: none;
    transition: color .3s;
    color: var(--cor-verde);
}

.apolo:hover{
    text-decoration: none;
    color: var(--cor-verde);
}

.boas-titulo{
    color: var(--cor-clara);
    font-size: var(--tamanho-4xl);
    letter-spacing: -.03em;
    line-height: .2;

    animation: fadein 2s;
}

.boas-paragrafo{
    max-width: 59ch;
    font-size: var(--tamanho-sm);
    color: var(--cor-clara);
    animation: fadein2 2s;
}

.boas-botao{
    text-transform: capitalize;
    font-size: var(--tamanho-sm);

    animation: fadein2 4s;
}

.apolo{
    animation: fadein3 3s;
}

@keyframes fadein2{
    0% { opacity: 0; }
    25%{opacity: 0;}
    50%{ opacity:0;}
    55%{opacity: 0;}
    100%   { opacity: 1; }
}

@keyframes fadein3{
    0% { opacity: 0; }
    25%{opacity: 0;}
    50%{ opacity:0;}
    90%{opacity: .9;}
    100%   { opacity: 1; }
}



/* MEDIA QUERY TELA DE BOAS VINDAS */
@media (min-width:425px) {
    .quadro{
        padding-top: 30rem;
        gap: 1.5rem;
        margin-top: 2rem;
        }
    
    .boas{
        gap: 1.5;
    }

    .apolo{
        text-decoration: none;
        transition: color .3s;
        color: var(--cor-verde);
    }

    .apolo:hover{
        text-decoration: none;
        color: var(--cor-verde);
    }
    
    .boas-titulo{
        font-size: var(--tamanho-5xl);
    }

    .boas-paragrafo{
        font-size: var(--tamanho-base);
    }

    .boas-botao{
        font-size: var(--tamanho-base);
    }
}
@media (min-width:1024px) {
    .quadro{
        padding-top: 27rem;
        gap: 1.5rem;
        margin-top: 2rem;
        }

    .apolo{
        text-decoration: none;
        transition: color .3s;
        color: var(--cor-verde);
    }

    .apolo:hover{
        text-decoration: none;
        color: var(--cor-verde);
    }
    
    .boas-titulo{
        font-size: var(--tamanho-7xl);
    }

    .boas-paragrafo{
        font-size: var(--tamanho-lg);
    }

    .boas-botao{
        font-size: var(--tamanho-lg);
    }
}
@media (min-width:1280px) {
    .quadro{
        padding-top: 29rem;
        gap: 1.5rem;
        margin-top: 2rem;
        }

    .boas{
        gap: 2rem;
    }

    .apolo{
        text-decoration: none;
        transition: color .3s;
        color: var(--cor-verde);
    }

    .apolo:hover{
        text-decoration: none;
        color: var(--cor-verde);
    }
    
    .boas-titulo{
        font-size: var(--tamanho-9xl);
    }

    .boas-paragrafo{
        font-size: var(--tamanho-xl);
    }

    .boas-botao{
        font-size: var(--tamanho-xl);
    }
}

/* FIM TELA DE BOAS VINDAS */

/* INICIO SOBRE MIM */
/* 1px = 16rem */

.sobrem{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sobrem-conteudo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sobrem-titulo{
    font-size: var(--tamanho-2xl);
    color: var(--cor-clara);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sobrem-paragrafo{
    max-width: 65ch;
    font-size: var(--tamanho-sm);
    color: var(--cor-clara);
}

.sobrem-separador{
    border-color: var(--cor-cinzacuro);
}

.sobrem-img-bk{
    display: flex;
}

.sobrem-img{
    border-radius: 55%;
    height: 25rem;
    width: 25rem;
    position: relative;
    right: 5rem;
}

button:hover, form .btn-enviar input:hover {
    transform: scale(1.35);
}

.btn-social button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background-color: var(--cor-verde);
    font-size: 17px;
    cursor: pointer;
    margin: 0 3px;
    
    transition: .2s;
}

.btn-social{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-social a{
    margin-left: 1rem;
}

/* MEDIA QUERY SOBRE MIM */
@media (min-width:425px) {
    .sobrem{
        gap: 1.5rem;
    }

    .sobrem-conteudo{
        gap: 1.5rem;
    }

    .sobrem-titulo{
        font-size: var(--tamanho-3xl);
    }

    .sobrem-paragrafo{
        font-size: var(--tamanho-base);
    }

    .sobrem-img-bk{
        margin: 0 auto;
    }

    .sobrem-img{
        padding: 1rem;
        left: 0.1em;
        border-radius: 45%;
    }

/*     .caixade{
        display: none;
    } */
}
@media (min-width:640px) {
    .sobrem-img-bk{
        margin: 0 auto;
    }
}
@media (min-width:1024px) {
    .sobrem{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .sobrem-titulo{
        font-size: var(--tamanho-4xl);
    }

    .sobrem-paragrafo{
        font-size: var(--tamanho-lg);
    }
}
@media (min-width:1280px) {
    .sobrem-conteudo{
        gap: 2rem;
    }

    .sobrem-titulo{
        font-size: var(--tamanho-5xl);
    }

    .sobrem-paragrafo{
        font-size: var(--tamanho-xl);
    }
}

/* FIM SOBRE MIM */

/* INICIO PROJETOS */

.projetos{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.projetos-titulo{
    font-size: var(--tamanho-2xl);
    color: var(--cor-clara);    
    text-align: center;
}

.projetos-texto{
    max-width: 50ch;
    font-size: var(--tamanho-xl);
    color: var(--cor-clara);
    text-align: center;
    margin: 1rem auto;
}

.projetos-tituloprojeto{
    font-size: var(--tamanho-base);
    color: var(--cor-clara);    
    text-align: center;
    margin-bottom: 1rem;
}

.imagem-grande{
    display: inline;
    width: 608px;
    height: 374px;
}

.projeto-paragrafo1{
    font: var(--tamanho-sm);
    margin: 1rem 0;
    max-width: 90ch;
}

.projetos-separador:not(:last-child){
    margin-bottom: 5rem;
}

/* MEDIA QUERY PROJETOS */
@media (min-width:475px) {
    .projetos-titulo{
        font-size: var(--tamanho-3xl);
    }

    .projetos-texto{
        font-size: var(--tamanho-base);
        margin: 1.5rem auto;
    }

    .projetos-tituloprojeto{
        font-size: var(--tamanho-lg);
        color: var(--cor-clara);    
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .projeto-paragrafo1{
        font: var(--tamanho-base);
        margin: 1.5rem 0;
    }
}
@media (min-width:1024px) {
        .projetos-titulo{
        font-size: var(--tamanho-4xl);
    }

    .projetos-texto{
        font-size: var(--tamanho-lg);
        margin: 1.5rem auto;
    }
}
@media (min-width:1280px) {
    .projetos-titulo{
        font-size: var(--tamanho-5xl);
    }

    .projetos-texto{
        font-size: var(--tamanho-xl);
        margin: 2rem auto;
    }
}

/* FIM PROJETOS */

/* INICIO FORMULÁRIO */

section.formulario {
    padding: 120px 4%;
}

#formulario-texto{
    display: flex;
    justify-content: center;
}

form {
    max-width: 500px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: rgba(58, 57, 57, 0.151);
    border: none;
    outline: none;
    padding: 20px 15px;
    border-radius: 15px;
    color: white;
    font-size: 18px;
    transition: .9s;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form input::placeholder {
    color: grey;
}

form input:focus-within,
textarea:focus-within {
    border: 1px solid var(--cor-verde);
    transform: scale(1.02);
}

form .btn-enviar {
    margin-top: 25px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: var(--cor-azul);
    color: var(--cor-clara);
    cursor: pointer;
    font-weight: 700;
    transition: .2s;
}

form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px var(--cor-azul);
    transform: scale(1.10);
}

/* FIM FORMULÁRIO */